body {
    background-color: #a9e087;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1e6b20;
    color: white;
    text-align: center;

}
.content {
    color: aliceblue;
}
.section {
    background-color: #4CAF50;
}
.footer {
    background-color: #1d1c1c;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
}