body {
    font-family: Arial, sans-serif;
    background-image: url(./imagenes/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#titulo_principal{
color: rgb(255, 255, 255);
background-color: rgb(193, 147, 73);
text-align: center;

}
.elemento {
color: rgb(180, 135, 12);
font-weight: bold;
}

h2 {
color: rgb(38, 152, 13);
}

p {
color: rgb(25, 134, 21);
}

li {
color: rgb(24, 26, 28);
}

.container {
    border: 2px solid #ccc;  
    padding: 20px;          
    margin: 10px 0;          
    border-radius: 8px;      
    background-color: #f9f9f9b4;  
}

.osoPardo {
    text-align: center;
    font-weight: bolder;
}



 



